h1 {
    font-size: 50px;
    color: rgb(9, 73, 9);
}

h2 {
    font-size: 45px;
    color: rgb(3, 99, 3);
}

li {
    font-size:30px;
    color:rgb(4, 49, 4)
}

h3 {
    font-size:35px;
    color:rgb(1, 12, 1)
}

p {
    font-size:25px;
    color:rgb(7, 80, 7)
}

